<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="ThermoCutie" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>ThermoCutie</display-name>

    <servlet>
        <servlet-name>CurrentStateWebSocket</servlet-name>
        <servlet-class>org.thermocutie.thermostat.web.CurrentStateWebSocketServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CurrentStateWebSocket</servlet-name>
        <url-pattern>/state</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jersey-servlet</servlet-name>

        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>

        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.thermocutie.thermostat.rest, org.thermocutie.thermostat.rest.dto</param-value>
        </init-param>

        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>jersey-servlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
        <!-- To do not lock files from the web folder -->
        <init-param>
            <param-name>useFileMappedBuffer</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
    <listener>
        <listener-class>org.thermocutie.thermostat.web.GlobalSystemListener</listener-class>
    </listener>
</web-app>