<h1>MQTT brokers</h1>
<table>
    <tr>
        <th>Name</th>
        <th>URI</th>
        <th>Client ID</th>
        <th></th>
    </tr>
    <tr ng-repeat="broker in brokers">
        <td>{{broker.name}}</td>
        <td>{{broker.uri}}</td>
        <td>{{broker.clientId}}</td>
        <td>
            <md-button ng-if="!broker.connected" ng-click="connect(broker)">Connect</md-button>
            <md-button ng-if="broker.connected" ng-click="disconnect(broker)">Disconnect</md-button>
        </td>
        <td><md-button ng-click="edit(broker)">Edit</md-button></td>
        <td><md-button ng-click="rename(broker)">Rename</md-button></td>
        <td><md-button ng-click="delete(broker)">Delete</md-button></td>
    </tr>
</table>

<md-button ng-click="add()">Add</md-button>

<form novalidate="novalidate" class="form-horizontal">
    <fieldset ng-disabled="!internalBroker.supported">
        <h1>Internal broker {{internalBroker.supported ? "" : " (not supported)"}}</h1>

        <div class="control-group">
            <label class="control-label" for="inputEnabled">Enabled:</label>
            <div class="controls">
                <input type="checkbox" id="inputEnabled" ng-model="internalBroker.enabled">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPort">Port:</label>
            <div class="controls">
                <input type="number" id="inputPort" ng-model="internalBroker.port"/>
            </div>
        </div>
    </fieldset>

    <div class="control-group">
        <div class="controls">
            <md-button ng-click="back()">Cancel</md-button>
            <md-button ng-click="updateInternal()" class="md-primary">Update</md-button>
        </div>
    </div>
</form>
